<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
	<appSettings>
		<add key="GroupAddress" value="234.5.6.11"></add>
		<add key="LocalPort" value="7777"></add>
		<add key="RemotePort" value="9999"></add>
		<add key="TTL" value="32"></add>
	</appSettings>
</configuration>